<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.HsTest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.example.HsTest.GradingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob19Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob18Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob17Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob16Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob15Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob14Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob13Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob12Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob11Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob10Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob9Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob8Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob7Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob6Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob5Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob4Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob3Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob20Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.QuitPopupActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Dialog" />
        <activity
            android:name="com.example.HsTest.RetryPopupActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Dialog" />
        <activity
            android:name="com.example.HsTest.ResultActivity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob1Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.Prob2Activity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.NamePopupActivity"
            android:theme="@style/Theme.MyApplication.Dialog" />
        <activity
            android:name="com.example.HsTest.StartActivity"
            android:exported="false" />
        <activity
            android:name="com.example.HsTest.NameActivity"
            android:exported="true" />
        <activity
            android:name="com.example.HsTest.EnterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>